*,
*::after,
*::before {
    box-sizing: border-box;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #505050;
}

.wrap {
    position: relative;
    width: 500px;
    height: 410px;
}

.counter, .settings {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    backface-visibility: hidden;
    padding: 30px 20px;
    will-change: transform, opacity;
}

.counter {
    background-color: #fff;
 }

.settings {
    background-color: #fff;
    transform: rotateY(180deg);
}

.settings__wrap {
    margin-top: 20px;
}

.settings__wrap_input {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.settings__wrap_input + .settings__wrap_input {
    margin-top: 40px;
}

.settings__wrap_input label {
    font-size: 18px;
    font-weight: 900;
    text-shadow: 0px 2px 8px #bdbdbd;
}

.settings__wrap_input input {
    text-align: center;
    font-weight: 900;
    font-size: 16px;
    border: none;
    outline: none;
    padding: 10px;
    box-shadow: inset 3px 3px 10px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}


.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    border-radius: 5px;
    background-color: #eaeaea;
    box-shadow: inset 3px 3px 10px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
    margin-bottom: 25px;
}

.scoreboard__value {
    font-size: 6rem;
    color: #000;
    font-weight: 900;
    cursor: default;
}

.scoreboard__value_max {
    color: #ff0000;
}

.counter__buttons {
    display: flex;
    justify-content: space-around;
}

.counter__buttons_wrap {
    display: flex;
    flex-direction: column;
}

.wrap__button_set {
    display: flex;
    align-items: center;
}


.button {
    border: none;
    outline: none;
    width: 200px;
    margin-bottom: 15px;
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 10px 10px 15px #c7c4c4c4, -10px -10px 15px #f9f9f9;
}

.button:active {
    box-shadow: inset 10px 10px 15px #c7c4c4c4, inset -10px -10px 15px #f9f9f9;
}

.button__set {
    padding: 5px;
    width: 110px;
    height: 110px;
    border-radius: 100px;
    background-color: #ff0000;
    box-shadow: 1px 2px 5px rgb(236 31 31), 1px 1px 6px rgb(14 4 4);
    color: #fff;
}

.button__set:active {
    font-size: 15px;
    color: #fff;
    box-shadow: inset 1px 1px 1px rgb(255, 0, 0), inset 1px 1px 15px rgb(255, 0, 0);
}

.button__set:disabled {
    opacity: .5;
}


.settings__button {
    display: flex;
    justify-content: center;
    margin-top: 90px;
}
